<header>
    <div class="container">
       <h1>SISTEMA DE MEDICAMENTOS VETERINÁRIOS</h1>
       <nav>
           <ul>
               <li><a href="inserir">INSERIR</a></li>
               <li><a href="select">SELECT</a></li>
               
               {{id}}
           </ul>
       </nav>
     </div>
</header>

