<div id="inserir">
    <h1>CADASTRO DE MEDICAMENTOS</h1>
    <hr>
    <form name="form1" action="controllerForm" method="post">
        <input type="hidden" name="id" id="id" placeholder="id:"><br><br>
        <input type="text" name="name" id="name" placeholder="Nome:"><br><br>
        <input type="text" name="descricao" id="descricao" placeholder="Descrição:"><br><br>
        <input type="submit" name="btnSubmit" id="btnSubmit" value="Adicionar"><br><br>
        <input type="reset" id="btnReset" value="limpar"><br>
    </form>
    <hr>
    <br>
    <a href="http://localhost:3000/">VOLTAR</a>
</div>
