<form name="form1" action="controllerUpdate" method="post">
    <input type="hidden" name="id" id="id" placeholder="id:" value='{{id}}'><br>
    <input type="text" name="name" id="name" placeholder="Nome:" value="{{name}}"><br>
    <input type="text" name="descricao" id="descricao" placeholder="Descrição:" value="{{descricao}}"><br>
    <input type="submit" name="btnSubmit" id="btnSubmit" value="Atualizar"><br>
</form>